body {
	padding-top: 50px;
	font-family: "ITC Bauhaus Medium Cyrillic";
}

.navbar {
	font-weight: 900;
	border-radius: 0;
	border: 0;
}

img {
	display: block;
}
/*
label[for="inputPassword3"], label[for="inputEmail3"] {
	display: none;
}
*/
form {
	border: 2px solid grey;
	padding: 50px;
	border-radius: 0px 50px 50px 50px;
	text-decoration: underline;
}

.scol {
	color: red;
}

label {
	padding-top: 7px;
	text-align: right;
}

form a {
	margin-left: 30px;
}

hr {
	border-style: dashed;
}

input.large { display: inline-block; }
input.small { display: none; }

@media (max-width: 768px) { 
  input.large { display: none; }
  input.small { display: inline-block; }
}